body{
    background-color: #ead7ee;
}
main{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}
.main-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #fff;
    border: 1px solid #000000;
    width: 600px;
    align-items: center;
}
.markup{
    color: rgb(238, 54, 85);
    font-weight: 600;
}
.country-code{
    margin-left: 4%;
    width: 9%;
    height: 40px;
}
.mobile-number{
    margin-left: -2%;
    height: 40px;
    width: 300px;
}
.btnUp{
    width: 350px;
    height: 40px;
    margin-left: -15%;
}
h6{
    text-align: start;
    margin-left: -2%;
}
.login-txt{
    margin-top: 2%;
    margin-left: 4%;
}

